*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#my-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.carousel{
    width: 900px;
    height: 400px;
    background-color: red;
}